In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('customer_churn_large_dataset.xlsx')

In [3]:
df.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,0
1,2,Customer_2,62,Female,New York,1,48.76,172,0
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,0
3,4,Customer_4,36,Female,Miami,3,97.94,297,1
4,5,Customer_5,46,Female,Miami,19,58.14,266,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int64
 3   Gender                      100000 non-null  object
 4   Location                    100000 non-null  object
 5   Subscription_Length_Months  100000 non-null  int64
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int64
 8   Churn                       100000 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.9+ MB

Checking ranges of particular columns

In [5]:
print('Minimum Age of Customer:', df['Age'].min())
print('Maximum Age of Customer:', df['Age'].max())

Minimum Age of Customer: 18
Maximum Age of Customer: 70

In [6]:
print('Minimum Tenure of Customer:', df['Subscription_Length_Months'].min())
print('Maximum Tenure of Customer:', df['Subscription_Length_Months'].max())

Minimum Tenure of Customer: 1
Maximum Tenure of Customer: 24

In [7]:
print('Minimum Monthly Charges of Customer:', df['Monthly_Bill'].min())
print('Maximum Monthly Charges of Customer:', df['Monthly_Bill'].max())

Minimum Monthly Charges of Customer: 30.0
Maximum Monthly Charges of Customer: 100.0

In [8]:
print('Minimum Monthly Usage of Customer(in GB):', df['Total_Usage_GB'].min())
print('Maximum Monthly Usage of Customer(in GB):', df['Total_Usage_GB'].max())

Minimum Monthly Usage of Customer(in GB): 50
Maximum Monthly Usage of Customer(in GB): 500

Reducing Memory Footprint by converting data types

In [10]:
df['Age'] = df['Age'].astype('int8') # int8 is sufficient for age
df['Subscription_Length_Months'] = df['Subscription_Length_Months'].astype('int8') # int8 is sufficient for tenure
df['Total_Usage_GB'] = df['Total_Usage_GB'].astype('int16') # int16 is sufficient for usage
# Changing float types tend to change the decimal points, so we will keep them as float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int8
 3   Gender                      100000 non-null  object
 4   Location                    100000 non-null  object
 5   Subscription_Length_Months  100000 non-null  int8
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int16
 8   Churn                       100000 non-null  int64
dtypes: float64(1), int16(1), int64(2), int8(2), object(3)
memory usage: 5.0+ MB

In [13]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [14]:
df['Location'].unique()

array(['Los Angeles', 'New York', 'Miami', 'Chicago', 'Houston'],
      dtype=object)

Changing the above two columns to category

In [15]:
df['Gender'] = df['Gender'].astype('category')
df['Location'] = df['Location'].astype('category')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int8
 3   Gender                      100000 non-null  category
 4   Location                    100000 non-null  category
 5   Subscription_Length_Months  100000 non-null  int8
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int16
 8   Churn                       100000 non-null  int64
dtypes: category(2), float64(1), int16(1), int64(2), int8(2), object(1)
memory usage: 3.6+ MB

Changing the Churn column type to boolean

In [17]:
df['Churn'].unique()

array([0, 1], dtype=int64)

In [18]:
df['Churn'] = df['Churn'].astype('bool')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int8
 3   Gender                      100000 non-null  category
 4   Location                    100000 non-null  category
 5   Subscription_Length_Months  100000 non-null  int8
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int16
 8   Churn                       100000 non-null  bool
dtypes: bool(1), category(2), float64(1), int16(1), int64(1), int8(2), object(1)
memory usage: 3.0+ MB

The dataset is reduced by almost 2.5 times the original size!!! I will save this in parquet format for further use to reduce the size and faster loading speeds.

In [21]:
df.to_parquet('customer_churn_large_dataset_optimized.parquet')

In [22]:
df = pd.read_parquet('customer_churn_large_dataset_optimized.parquet')

In [23]:
df.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,False
1,2,Customer_2,62,Female,New York,1,48.76,172,False
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,False
3,4,Customer_4,36,Female,Miami,3,97.94,297,True
4,5,Customer_5,46,Female,Miami,19,58.14,266,False